@page "/"
@namespace LimboDancer.MCP.BlazorConsole.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>LimboDancer Operator Console</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/site.css" />
</head>
<body>
<app>
    <component type="typeof(LimboDancer.MCP.BlazorConsole.App)" render-mode="ServerPrerendered" />
</app>

<script src="_framework/blazor.server.js"></script>
</body>
</html>