<nav>
    <h3 class="brand">LimboDancer</h3>
    <Shared.NavLinkItem Href="/" Text="Home" />
    <Shared.NavLinkItem Href="/sessions" Text="Sessions" />
    <Shared.NavLinkItem Href="/memory" Text="Memory" />
    <Shared.NavLinkItem Href="/graph" Text="Graph" />
</nav>